<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="style.css">
    <title>Amazon Mart</title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="brand">
                <a href="index.html">Amazon Mart</a>
            </div>
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <aside>
            Shopping Categories
        </aside>

        <main class="main">
            <div class="content">
                <ul class="products">
                    <li class="product">
                        <img class="product-image" src="images/d1.jpg" alt="product">
                        <div class="product-name">
                            <a href="product.html">Slim Shirt</a>
                        </div>
                        <div class="product-brand">Nike</div>
                        <div class="product-price">$20</div>
                        <div class="product-rating">4.5 Stars (10 Reviews)</div>
                    </li>
                    <li class="product">
                        <img class="product-image" src="images/d1.jpg" alt="product">
                        <div class="product-name">
                            <a href="product.html">Slim Shirt</a>
                        </div>
                        <div class="product-brand">Nike</div>
                        <div class="product-price">$20</div>
                        <div class="product-rating">4.5 Stars (10 Reviews)</div>
                    </li>
                    <li class="product">
                        <img class="product-image" src="images/d1.jpg" alt="product">
                        <div class="product-name">
                            <a href="product.html">Slim Shirt</a>
                        </div>
                        <div class="product-brand">Nike</div>
                        <div class="product-price">$20</div>
                        <div class="product-rating">4.5 Stars (10 Reviews)</div>
                    </li>
                    <li class="product">
                        <img class="product-image" src="images/d1.jpg" alt="product">
                        <div class="product-name">
                            <a href="product.html">Slim Shirt</a>
                        </div>
                        <div class="product-brand">Nike</div>
                        <div class="product-price">$20</div>
                        <div class="product-rating">4.5 Stars (10 Reviews)</div>
                    </li>
                    <li class="product">
                        <img class="product-image" src="images/d1.jpg" alt="product">
                        <div class="product-name">
                            <a href="product.html">Slim Shirt</a>
                        </div>
                        <div class="product-brand">Nike</div>
                        <div class="product-price">$20</div>
                        <div class="product-rating">4.5 Stars (10 Reviews)</div>
                    </li>
                </ul>
            </div>
        </main>

        <footer class="footer">
            All rights reserved
        </footer>
    </div>

</body>

</html>